<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.png' />
		<meta name='generator' content={Astro.generator} />
		<title>Shine on Hover</title>
	</head>
	<body class='bg-zinc-900 text-slate-100 flex flex-col items-center justify-center min-h-screen'>
		<slot />
	</body>
</html>
